.container {
    margin-top: 100px;
    width: 500px;
    padding: 50px 10px 50px 10px;
    border: 5px solid rgb(14, 115, 230);
    border-radius: 20px;  
}

.container h2 {
    font-weight: 400;
    color: blue;
}

.form_input {
  padding:20px;
  border: 1px solid #007BFF;
  width:100%;
  height: 50px;
  padding: 0 20px;
  transition: 0,25s ease;
  border-radius: 5px;
}
  
.form_input:focus {
  border: 1px solid #007BFF !important;
}
  
.form_field {
  position: relative;
}
  
.form_label {
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  left: 21px;
  color: #000;
  pointer-events: none;
  transition: 0.25s ease;
}

.form_input:not(:placeholder-shown) + .form_label,
.form_input:focus + .form_label{
  top: 0;
  padding: 10px;
  display: inline-block;
  background-color: #f8f9fa;
  left: 11px;
  font-size: 0.8rem;
}

.btn-login {
  width: 100%;
  font-size: 1rem;
}

.btn-login:hover {
  color:#000;
  background-color: #FFC107;
}

.navbar {
  background-color: #007BFF !important;
}

.navbar-brand {
  color: orange !important;
  font-size:2rem;
  font-weight: 700;
  font-style: italic;
  margin-left: 200px;
}

.ml-5{
  margin-left: 200px !important;
}

.nav-item {
  font-weight: 700;
  color: white !important;
}

.nav-item:hover {
  color: #FFC107 !important;
}

.btn-logos {
  border-radius: 100%;
  font-size: 1.5rem;
  margin: 20px;
}

.or {
  color: #999;
}

.modal-title {
  color: #007bFF;
}


